<div class="wrapper">
  <header>
    <div class="header-top">
      <div class="header-top__left">
        <p class="title">Tweet</p>
      </div>
      <div class="header-top__right">
      </div>
    </div>
    <div class="header-bottom">
      <%= link_to users_path do %>
        <i class="fas fa-user-alt icon"></i>
      <% end %>
      <%= link_to tweets_path do %>
        <i class="far fa-comment-dots icon color"></i>
      <% end %>
      <%= link_to groups_path do %>
        <i class="far fa-object-group icon"></i>
      <% end  %>
      <%= link_to articles_path do %>
        <i class="far fa-sticky-note icon"></i>
      <% end %>
    </div>
  </header>
  <main>
    <div class="main-contents">
      <div class="left-contents">
        <%= render partial: "/shared/left_contents" %>
      </div>
      <div class="right-contents scroll-container tweet-size">
        <div class="tweet-contents">
          <% @tweets.each do |tweet| %>
            <%= render partial: "tweet_contents", locals: { tweet: tweet } %>
          <% end %>
        </div>
        <div class="tweet-form">
          <div class="tweet-form__inner">
            <%= form_tag("/tweets", method: :post) do %>
              <input class="form-input" placeholder="text" name="text" cols="30" rows="1" autofocus="true">
              <i class="fas fa-pen-nib form-icon "></i>
              <input class="form-input" placeholder="Image URL" type="text" name="image">
              <i class="fas fa-image form-icon"></i>
              <input class="form-submit" type="submit" value="SENT">
              <!-- <label>
                <span class="filelabel" title="ファイルを選択">
                  <img src="" width="32" height="26" alt="＋画像">
                </span>
                <input type="file" name="datafile" id="filesend">
              </label> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
