<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
    <h2><% @group.errors.full_messages.count %>件のエラーが発生しました。</h2>
    <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :add_member %>
  <input placeholder="add_member">

  <%= f.label :chat_member %>
  <input type="hidden" name="group[user_ids[]]" value="<%= current_user.id %>">
  <p><%= current_user.name %></p>

  <%= f.submit %>
<% end %>
