      <%= form_for @account do |f| %>

      <div class="field">
        <%= f.label :Family_Name %></br>
        <%= f.text_field :f_name, placeholder: "名字" %></dr>
      </div>

      <div class="field">
        <%= f.label :True_Name %></br>
        <%= f.text_field :t_name, placeholder: "本名" %></dr>
      </div>

      <div class="field">
        <%= f.label :Your_Icon %></br>
        <%= f.file_field :image %></br>
      </div>

      <div class="field">
        <%= f.label :Profile %></br>
        <%= f.text_area :profile, placeholder: "profile", class: "text" %></dr>
      </div>

      <div class="field">
        <%= f.label :GitHub %></br>
        <%= f.text_field :link, placeholder: "GitHub-Link" %></dr>
      </div>

      <div class="field">
        <%= f.label :Blog %></br>
        <%= f.text_field :link1, placeholder: "TechBlog-Link" %></dr>
      </div>

      <div class="field">
        <%= f.label :Twitter %></br>
        <%= f.text_field :link2, placeholder: "Twitter-Link" %></dr>
      </div>

      Profile_Update
      <div class="devise-submit">
        <%= f.submit "Update", class: "devise-login" %>
      </div>

      <% end %>
