<div class="wrapper">
  <header>
    <div class="header-top">
      <div class="header-top__left">
        <p class="title">User</p>
      </div>
      <div class="header-top__right">
        <div class="to-group">
          <%= link_to "AddMyself", new_account_path, class: "n-btn" %>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <%= link_to accounts_path do %>
        <i class="fas fa-user-alt icon color"></i>
      <% end %>
      <%= link_to tweets_path do %>
        <i class="far fa-comment-dots icon"></i>
      <% end %>
      <%= link_to groups_path do %>
        <i class="far fa-object-group icon"></i>
      <% end  %>
      <%= link_to articles_path do %>
        <i class="far fa-sticky-note icon"></i>
      <% end %>
    </div>
  </header>
  <main>
    <div class="main-contents">
      <div class="left-contents">
        <%= render partial: "/shared/left_contents" %>
      </div>
      <div class="right-contents scroll-container">
        <% if current_user.account %>
          <div class="selfback-image">
            <p class="self-name">
              <%= current_user.account.f_name %>
              <%= current_user.account.t_name %>
            </p>
            <div class="background-image" style="background-image: url(http://acusd1.org/High%20School/1516events/Van%20Voorhis%201516/Info%20Pro%2015-16/18%20Braeton/Pictures/My%20Favorite%20Hobby/Slider3.jpg);">
              <%= image_tag (current_user.account.image.url), class: "self-icon" %>
            </div>
          </div>
          <p>-Profile-</p>
            <%= current_user.account.profile %>
            <%= link_to "link", current_user.account.link %>
        <% else %>
          <div class="selfback-image">
            <p class="self-name">
              No Name
            </p>
            <div class="background-image" style="background-image: url(http://acusd1.org/High%20School/1516events/Van%20Voorhis%201516/Info%20Pro%2015-16/18%20Braeton/Pictures/My%20Favorite%20Hobby/Slider3.jpg);">
              <%= image_tag ("no_image.jpg"), class: "self-icon" %>
            </div>
          </div>
          <p>-Profile-</p>
        <% end %>
      </div>
    </div>
  </main>
</div>
